@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('../fonts/Rajdhani-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Saira';
  src: url('../fonts/Saira-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-gilroy text-white
  }
}

@layer components {
  .container {
    @apply max-w-[1130px]
  }

  .main-btn {
    @apply font-black uppercase text-2xl leading-none text-white py-6 px-12 rounded-[36px]
  }
}

.header-lang-list {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top left;
  transition: all 0.3s;
}

.header-lang-list.is-open {
  opacity: 1;
  transform: scaleY(1);
  transition: all 0.3s;
}

.slide-2-title {
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.hero-slider {
  position: relative;
}

.swiper-pagination {
  bottom: 0 !important;
  display: flex;
  justify-content: center;
  gap: 20px !important;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  opacity: 1;
  background-color: #f0f0f060;

}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #f0f0f0;
}

@media (max-width: 576px) {
  .slide-img-box::before {
    content: '';
    width: 100%;
    height: 50px;
    background: radial-gradient(44.27% 100% at 50% 99.98%, rgba(9, 8, 18, 1) 18%, rgba(8, 11, 18, 0) 92%);
    position: absolute;
    left: 0;
    bottom: -20px;
    z-index: 30;
  }
}

.terms-arrow {
  animation: pulse 2s ease infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 3px #E93224;
  }

  50% {
    box-shadow: 0 0 20px #E93224;
  }

  100% {
    box-shadow: 0 0 5px #E93224;
  }
}

.terms-body {
  max-height: 0;
  overflow: hidden;
  box-sizing: content-box;
  will-change: tranform;
  transition: 0.2s;
}

.terms-body.active {
  overflow: visible;
  padding-bottom: 20px;
}

.item-img::before {
  content: '';
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: #f0f0f0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.payments-slider .swiper-slide {
  width: 154px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FORM */

.form-currency-dropdown {
  max-height: 200px;
  overflow-y: auto;
}

.iti {
  width: 100%;
  height: auto;
  font-size: 18px !important;
  font-weight: 700;
  line-height: 100% !important;
}

.iti__selected-country-primary:hover {
  background-color: transparent !important;
}

.iti .phone-input {
  width: 100%;
  height: 100%;
  outline: none;
}

.iti__country-list {
  border: none !important;
}

.iti__country-list li {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 8px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.iti__tel-input {
  padding-left: 100px !important;
}

.iti__selected-country-primary {
  height: auto !important;
}

.iti__search-input {
  border: none !important;
  outline: none;
  color: #0f0f0f;
  padding: 10px 12px;
}

.iti__country-list li span {
  color: #0f0f0f;
}

.iti__dropdown-content {
  top: 110%;
  border-radius: 8px !important;
  overflow: hidden !important;
}

.iti__dial-code {
  color: #755EEB !important;
}

.iti__selected-dial-code {
  color: #755EEB !important;
}

.iti .phone-input {
  font-size: 18px !important;
  line-height: 100% !important;
  height: 22px !important;
}

.iti__selected-country {
  height: 22px !important;
}

.form-overlay.is-open {
  display: grid;
}

@media (max-width: 576px) {
  .form-overlay.is-open {
    display: block;
  }
}

.copy-tooltip::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.copy-tooltip {
  opacity: 0;
  transition: opacity 0.3s;
}

.copy-tooltip.is-visible {
  opacity: 1;
}

.form-type-btn::before {
  content: '';
  width: 100%;
  height: 3px;
  background: #FAD303;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
}

.form-type-btn.active::before {
  opacity: 1;
}

.form-type-btn.active span {
  color: #FAD303;
}

.form-type-btn.active svg {
  stroke: #FAD303;
}

.form-group-email label {
  transition: 0.3s;
}

/* .form-group-email input:focus, */
.form-group-email input:focus+label,
.form-group-email input:not(:placeholder-shown)+label {
  font-size: 12px;
  transform: translateY(-14px);
}

.form-step-btn:disabled {
  background: #35659e;
}

.form-group {
  display: none;
}

.form-group.active {
  display: flex;
}

.form-group {
  border: 2px solid transparent;
}

.form-group.not-valid {
  border: 2px solid #FF5530;
}

.form-group.not-valid input {
  color: #FF5530;
}

.form-group.not-valid .tooltip {
  display: block;
}

.form-group-password {
  border: 2px solid transparent;
}

.form-group-password.not-valid {
  border: 2px solid #FF5530;
}

.form-group-password.not-valid input {
  color: #FF5530;
}

.form-group-password.not-valid .tooltip {
  display: block;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset;
  -webkit-text-fill-color: #755EEB;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset;
  -webkit-text-fill-color: #755EEB;
}

input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset;
  -webkit-text-fill-color: #755EEB;
}

.checkbox .checkbox-content::before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid transparent;
  position: absolute;
  left: 0;
  top: 0;
}

.checkbox .checkbox-input:checked+.checkbox-content::before {
  background: url('../img/checked.svg') #F4FD2B;
  background-repeat: no-repeat;
  background-position: center;
}

.tooltip {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.tooltip::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;

  border-top: 6px solid #f0f0f0;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.form.loading .main-form-submit-btn span {
  display: none;
}

.form.loading .main-form-submit-btn .loading-icon {
  display: block;
}

.form.loading .form-group-password {
  pointer-events: none;
  opacity: 0.6;
}

.form.loading .form-currency {
  pointer-events: none;
  opacity: 0.6;
}

.red-arrow {
  animation: redArrow 1s ease infinite forwards;
}

@keyframes redArrow {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }

  100% {
    opacity: 1;
    transform: translateY(5px);
  }
}