@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-roboto text-white;
  }
}

@layer components {
  .container {
    @apply max-w-[1130px];
  }

  .main-btn {
    @apply rounded-[36px] px-12 py-6 text-2xl font-black uppercase leading-none text-white;
  }
}

.yellow-gradient-text {
  background: linear-gradient(180deg, #ffc814 53.2%, #ff8d01 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yellow-main-btn {
  box-shadow: inset 0 6px 6px 0 #fff;
  background: linear-gradient(180deg, #ffc814 53.2%, #ff8d01 100%);
}

.slide-shadowed-text {
  text-shadow: 0 0 13px #615cff;
}

.header-lang-list {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top left;
  transition: all 0.3s;
}

.header-lang-list.is-open {
  opacity: 1;
  transform: scaleY(1);
  transition: all 0.3s;
}

.slide-2-title {
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.hero-slider {
  position: relative;
}

.hero-main-title span {
  color: #ffdd2a;
}

.swiper-pagination {
  bottom: 0 !important;
  display: flex;
  justify-content: center;
  gap: 20px !important;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  opacity: 1;
  border: 2px solid #fff;
  background: transparent;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #f0f0f0;
}

@media (max-width: 576px) {
  .slide-img-box::before {
    content: "";
    width: 100%;
    height: 50px;
    background: radial-gradient(44.27% 100% at 50% 99.98%,
        rgba(9, 8, 18, 1) 18%,
        rgba(8, 11, 18, 0) 92%);
    position: absolute;
    left: 0;
    bottom: -20px;
    z-index: 30;
  }
}

.terms-arrow {
  animation: pulse 2s ease infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 3px #e93224;
  }

  50% {
    box-shadow: 0 0 20px #e93224;
  }

  100% {
    box-shadow: 0 0 5px #e93224;
  }
}

.terms-body {
  max-height: 0;
  overflow: hidden;
  box-sizing: content-box;
  will-change: tranform;
  transition: 0.2s;
}

.terms-body.active {
  overflow: visible;
  padding-bottom: 20px;
}

.item-img::before {
  content: "";
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: #f0f0f0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.payments-slider .swiper-slide {
  width: 154px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-overlay.is-open {
  display: grid;
}

@media (max-width: 576px) {
  .form-overlay.is-open {
    display: block;
  }
}

.copy-tooltip::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.copy-tooltip {
  opacity: 0;
  transition: opacity 0.3s;
}

.copy-tooltip.is-visible {
  opacity: 1;
}

.form-type-btn::before {
  content: "";
  width: 100%;
  height: 3px;
  background: #fad303;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
}

.form-type-btn.active::before {
  opacity: 1;
}

.form-type-btn.active span {
  color: #fad303;
}

.form-type-btn.active svg {
  stroke: #fad303;
}

.form-group-email label {
  transition: 0.3s;
}

/* .form-group-email input:focus, */
.form-group-email input:focus+label,
.form-group-email input:not(:placeholder-shown)+label {
  font-size: 12px;
  transform: translateY(-14px);
}

.form-step-btn:disabled {
  background: #35659e;
}

.form-group {
  display: none;
}

.form-group.active {
  display: flex;
}

.form-group {
  border: 2px solid transparent;
}

.form-group.not-valid {
  border: 2px solid #ff5530;
}

.form-group.not-valid input {
  color: #ff5530;
}

.form-group.not-valid .tooltip {
  display: block;
}

.form-group-password {
  border: 2px solid transparent;
}

.form-group-password.not-valid {
  border: 2px solid #ff5530;
}

.form-group-password.not-valid input {
  color: #ff5530;
}

.form-group-password.not-valid .tooltip {
  display: block;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset;
  -webkit-text-fill-color: #755eeb;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset;
  -webkit-text-fill-color: #755eeb;
}

input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset;
  -webkit-text-fill-color: #755eeb;
}

.checkbox .checkbox-content::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid transparent;
  position: absolute;
  left: 0;
  top: 0;
}

.checkbox .checkbox-input:checked+.checkbox-content::before {
  background: url("../img/checked.svg") #f4fd2b;
  background-repeat: no-repeat;
  background-position: center;
}

.tooltip {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.tooltip::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;

  border-top: 6px solid #f0f0f0;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.form.loading .main-form-submit-btn span {
  display: none;
}

.form.loading .main-form-submit-btn .loading-icon {
  display: block;
}

.form.loading .form-group-password {
  pointer-events: none;
  opacity: 0.6;
}

.form.loading .form-currency {
  pointer-events: none;
  opacity: 0.6;
}

/* | TWO STEP FORM */

.two-step-overlay {
  display: none;
}

.two-step-overlay.is-open {
  display: flex;
}

.two-step-bonus-checkbox-circle::before,
.gender-checkbox-circle::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #f0f0f0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.two-step-bonus-checkbox input:checked+.two-step-bonus-checkbox-div>.two-step-bonus-checkbox-circle::before,
.gender-checkbox input:checked+.gender-checkbox-div>.gender-checkbox-circle::before {
  opacity: 1;
}

.two-step-bonus-checkbox input:checked+.two-step-bonus-checkbox-div,
.gender-checkbox input:checked+.gender-checkbox-div {
  background-color: #8726ff;
  border-color: #57179b;
}

.two-step-header-back-btn.is-visible {
  opacity: 1;
  visibility: visible;
}

.socials-link-big {
  box-shadow: inset 0 2px 3px 0 rgba(255, 255, 255, 0.25);
}

.two-step-general-input:focus+.two-step-general-label,
.two-step-general-label.active {
  top: 12px;
  font-size: 12px;
}

.two-step-promocode-wrapper.is-valid .two-step-promocode-valid-icon {
  fill: #4ED937;
}

.two-step-input-wrapper.is-valid .two-step-general-input {
  color: #4ED937;
}

.two-step-promocode-wrapper.is-visible {
  display: grid;
}


.two-step-form-step {
  display: none;
}

.two-step-form-step.is-active {
  display: block;
}

.two-step-progress-circle.active {
  background-color: #8726FF;
}

.next-step-btn,
.submit-btn {
  position: relative;
  overflow: hidden;
}

.next-step-btn .disable-overlap,
.submit-btn .disable-overlap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(59, 58, 58, 0.6);
  transition: 0.3s;
}

.next-step-btn:disabled .disable-overlap.is-visible,
.submit-btn:disabled .disable-overlap.is-visible {
  display: block;
}

.qs-num.qs-current,
.qs-day {
  color: #755EEB !important;
}

.qs-controls {
  background-color: #755EEB !important;
}

.qs-month-year {
  color: #ffffff !important;
}

.qs-arrow.qs-left:after {
  border-right-color: #ffffff !important;
}

.qs-arrow.qs-right:after {
  border-left-color: #ffffff !important;
}

.form-currency-dropdown {
  max-height: 225px;
  overflow-y: auto;
}

.two-step-form .iti {
  width: 100%;
  height: auto;
  font-size: 18px !important;
  font-weight: 700;
  line-height: 100% !important;
}

.two-step-form .iti__selected-country-primary:hover {
  background-color: transparent !important;
}

.two-step-form .iti .phone-input {
  width: 100%;
  height: 100%;
  outline: none;
}

.two-step-form .iti__country-list {
  border: none !important;
}

.two-step-form .iti__country-list li {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 8px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.two-step-form .iti__tel-input {
  padding-left: 100px !important;
}

.two-step-form .iti__selected-country-primary {
  height: auto !important;
}

.two-step-form .iti__search-input {
  border: none !important;
  outline: none;
  color: #0f0f0f;
  padding: 10px 12px;
}

.two-step-form .iti__country-list li span {
  color: #0f0f0f;
}

.two-step-form .iti__dropdown-content {
  top: 120%;
  border-radius: 8px !important;
  overflow: hidden !important;
}

.two-step-form .iti__dial-code {
  color: #755eeb !important;
}

.two-step-form .iti__selected-dial-code {
  color: #755eeb !important;
}

.two-step-form .iti .phone-input {
  font-size: 18px !important;
  line-height: 100% !important;
  height: 22px !important;
}

@keyframes animate-svg-draw-1 {
  0% {
    stroke-dashoffset: 277;
    stroke-dasharray: 277;
  }

  100% {
    stroke-dashoffset: 227;
    stroke-dasharray: 554;
  }

  0% {
    stroke-dashoffset: 554;
    stroke-dasharray: 277;
  }
}

.svg-elem-1 {
  animation: animate-svg-draw-1 2s ease 0s infinite;
  stroke: #ffb600;
  stroke-width: 6;
  fill: none;

  stroke-linecap: round;
  stroke-linejoin: rectangle;
}

.svg-elem-2 {
  animation: pulse 3s ease 1s infinite;
  transform-origin: center;
  fill: black;
}

.svg-elem-3 {
  animation: pulse 3s ease 1s infinite;
  transform-origin: center;
  fill: #f0f0f0;
}

.two-step-promocode-wrapper.is-valid .two-step-promocode-apply-btn {
  display: none;
}

.two-step-promocode-wrapper.is-not-valid .two-step-promocode-apply-btn {
  display: block;
}

.two-step-promocode-wrapper.is-valid .two-step-promocode-valid-icon {
  display: block;
}

.two-step-promocode-wrapper.is-not-valid .two-step-promocode-valid-icon {
  display: none;
}

.two-step-promocode-wrapper.is-valid input {
  color: #4ED937;
}

.two-step-promocode-wrapper.is-not-valid input {
  color: #FF5530;
}

.air-datepicker-global-container {
  z-index: 500;
}

/* Promocode badge */

.promocode-applied-badge {
  display: none;
}

.promocode-applied-wrapper.is-applied .promocode-applied-badge {
  display: block;
}

.promocode-applied-wrapper.is-applied .applied-bonus-wrapper {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: #4ED937;
}

.promocode-applied-wrapper.is-applied .two-step-promocode-wrapper {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 2px solid #4ED937;
}

.promocode-applied-badge-text {
  display: none;
}

.promocode-applied-badge-text.is-active {
  display: block;
}

/* | URL PROMOCODE CHECK */

.promocode-applied-wrapper.is-applied-from-url {
  pointer-events: none;
}

.promocode-applied-wrapper.is-applied-from-url .two-step-promocode-btn {
  display: none;
}

.promocode-applied-wrapper.is-applied-from-url .two-step-promocode-input {
  color: #4ED937;
}

.promocode-applied-wrapper.is-applied-from-url .two-step-promocode-label {
  font-size: 12px;
  top: 12px;
}

.promocode-applied-wrapper.is-applied-from-url .two-step-promocode-apply-btn {
  display: none;
}

.promocode-applied-wrapper.is-applied-from-url .two-step-promocode-valid-icon {
  display: block;
}

.promocode-applied-wrapper.is-applied-from-url .two-step-promocode-wrapper {
  display: flex;
}